/*
 * CSS Font Lock by @alexerlandsson
 * This is a scss mixin used to create CSS locks for responsive typography.
 *
 * For better documentation and implementation guide, check out the GitHub repository:
 * https://github.com/alexerlandsson/css-font-lock
 */

@function cfl-strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@mixin css-font-lock($min-size, $max-size, $min-width, $max-width, $base-font-size: 16px) {

	$error: false;

	/* Control $max-size */
	@if (unit($max-size) != px) and (unit($min-size) != rem) {
		@warn "`#{$max-size}` needs to be set in px or rem.";
		$error: true;
	} @else if (unit($max-size) == rem) {
		/* Set max-size in px if set as rem */
		$max-size: (cfl-strip-unit($max-size) * $base-font-size);
	}

	/* Control $min-size */
	@if (unit($min-size) != px) and (unit($min-size) != rem) {
		@warn "`#{$min-size}` needs to be set in px or rem.";
		@debug #{$min-size};
		$error: true;
	} @else if (unit($min-size) == rem) {
		/* Set max-size in px if set as rem */
		$min-size: (cfl-strip-unit($min-size) * $base-font-size);
	}

	/* Control $min-width */
	@if (unit($min-width) != px) and (unit($min-width) != rem) {
		@warn "`#{$min-width}` needs to be set in px or rem.";
		$error: true;
	} @else if (unit($min-width) == rem) {
		/* Set max-size in px if set as rem */
		$min-width: (cfl-strip-unit($min-width) * $base-font-size);
	}

	/* Control $max-width */
	@if (unit($max-width) != px) and (unit($max-width) != rem) {
		@warn "`#{$max-width}` needs to be set in px or rem.";
		$error: true;
	} @else if (unit($max-width) == rem) {
		/* Set max-size in px if set as rem */
		$max-width: (cfl-strip-unit($max-width) * $base-font-size);
	}

	@if ( $error == false ) {
		font-size: $min-size;
		@media (min-width: $min-width) and (max-width: $max-width) {
			$size-increase: (cfl-strip-unit($max-size) - cfl-strip-unit($min-size));
			font-size: calc( #{$min-size} + #{$size-increase} * (100vw - #{$min-width}) / (#{cfl-strip-unit($max-width)} - #{cfl-strip-unit($min-width)}) );
		}
		@media (min-width: ($max-width + 1px)) {
			font-size: $max-size;
		}
	} @else {
		@warn "There is an error in `@include font-size-lock();`";
		/* Print error message on page */
		&:before {
			content: "There is an error in @include css-lock();";
			position: absolute;
			padding: 10px 15px;
			white-space: nowrap;
			background-color: red;
			border-radius: 10px;
			color: white;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			   -moz-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
		}
	}

}
