@import "../scss/scss-font-lock";

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #757F9A, #D7DDE8);
	color: #333333;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	text-align: center;
}

.text {
	/* This is how to use css-font-lock() */
	@include scss-font-lock(24px, 60px, 375px, 1024px);
}
